<h1> Director #<%= @director_id %> details </h1>

<a href="/directors"> Go back </a>

<dt> Name </dt>
<dd> <%= @detail_director.name%></dd>
<dt> Dob </dt>
<dd> <%= @detail_director.dob%></dd>
<dt> Bio </dt>
<dd> <%= @detail_director.bio%></dd>
<dt> Image </dt>
<dd> <img src = "<%= @detail_director.image%>"> </dd>
<dt>  Created at</dt>
<dd> <%= time_ago_in_words(@detail_director.created_at)%> ago</dd>
<dt>  Updated at</dt>
<dd> <%= time_ago_in_words(@detail_director.updated_at)%> ago</dd>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>ID </th>
    <th> Image</th>
    <th> Title</th>
    <th> Year</th>
    <th> Director</th>
    <th> </th>
  </tr>
  <% @director_movies.each do |thing|%>
    <tr>
      <td> <%= thing.id%></td>
      <td>
       <img src = "<%= thing.image%>" style="width:250px;">
      </td>
      <td> <%= thing.title%></td>
      <td> <%= thing.year%></td>
      <td> <%= Director.where({:id => thing.director_id}).at(0).name%></td>
      <td>
        <a href ="/movies/<%= thing.id%>">
        Show details
      </td>
    </tr>
  <% end %>
</table>
